[Desktop Entry]
Name=Conky
Name[en_AU]=Conky
Comment=
Comment[en_AU]=
Type=Application
Exec=bash -c "nohup /usr/bin/conky --daemonize --window-id=600009 --pause=20 >& ~/.cache/conky.log &"
