[Desktop Entry]
Type=Application
Exec=bash -c "sleep 5 && DISPLAY=:0 /usr/bin/conky"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=Conky
Name=Conky
Comment[en_AU]=
Comment=
