[Desktop Entry]
Type=Application
Exec=/home/david/bin/vps-backup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=VPS backup
Name=Conky
Comment[en_AU]=
Comment=
